* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.header {
  background: #202938;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 18px;
}

.header__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
}

.links {
  display: flex;
  justify-content: space-between;
  gap: 22px;
}

.first-section {
  background: #1f2937;
}

.first-section__item {
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
}

.first-section__item-left {
  width: 448px;
}

.item-title {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.item-text {
  color: #e5e7eb;
  font-size: 18px;
}

.item-btn {
  margin-top: 10px;
  padding: 8px 30px;
  color: #fff;
  background-color: #3882f6;
  font-size: 15px;
  font-weight: 800;
  border-radius: 10px;
  border: none;
}

.item-image {
  width: 500px;
  height: 230px;
}

.second-section__item {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 80px;
}

.item-content {
  text-align: center;
  width: 150px;
}

.second-section__item-image {
  width: 150px;
  height: 150px;
  border: 4px solid #3b82f6;
  border-radius: 15px;
}

.item-title.second {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  margin: 35px;
}

.item-text.subtext {
  color: gray;
  font-size: 16px;
}

.firtd-section {
  background: #e5e7eb;
}

.qoute__item {
  margin: 80px 80px;
}

.quote-text {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  font-style: italic;
}

.quote-text-author {
  display: flex;
  justify-content: flex-end;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.last-section__item {
  background: #3882f6;
  border-radius: 10px;
  padding: 50px 0;
  margin: 80px 0;
}

.last-section__item-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.item-content__title {
  color: #f9faf8;
  font-size: 24px;
}

.item-content__subtitle {
  color: #e5e7eb;
  font-size: 18px;
}

.item-content__btn {
  background-color: #3882f6;
  border-radius: 10px;
  border: 2px solid #fff;
  color: #e5e7eb;
  font-weight: 900;
  font-size: 16px;
  padding: 6px 33px;
}

.footer {
  background: #1f2937;
}

.footer__item-text {
  text-align: center;
  color: #e5e7eb;
  padding: 25px 0;
}
