* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.header {
  background: #202938;
}

.container {
  max-width: 1200px;
  padding: 18px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  font-size: 24px;
  font-weight: 900;
}

.links {
  display: flex;
  justify-content: space-between;
  gap: 22px;
  font-size: 18px;
}
